<?xml version="1.0"?>

<launch>


<arg name="room"                                default="$(optenv PARAMETERS_SET client_0)"     />
<arg name="launch_rviz"                         default="true"      />
<arg name="launch_map_server"                   default="true"      />
<arg name="launch_multi_robot_route_planner"    default="true"      />
<arg name="launch_graph_generator"              default="true"      />
<arg name="cfg"                                 default="$(optenv PARAMETERS_SET client_0)"   />
<arg name="load_segments"                       default="false"     />
<arg name="map_name"                            default="$(optenv WAREHOUSE_MAP map_0_1)"          />

<!-- map server -->
<group if="$(arg launch_map_server)">
  <include file="$(find tuw_multi_robot_demo)/launch/map_server.launch">
    <arg name="room" value="$(arg room)" />
    <arg name="map" value="$(arg map_name)" />
  </include>
</group>

<!-- graph -->
<group if="$(arg launch_graph_generator)">
  <group if="$(arg load_segments)">
  <include file="$(find tuw_multi_robot_demo)/launch/graph_generator.launch">
    <arg name="cfg" value="$(arg room)" />
    <arg name="custom_graph_path" value="$(find tuw_multi_robot_demo)/cfg/graph/$(arg room)/cache/$(arg map_name)" />
  </include>
  </group>
  <group unless="$(arg load_segments)">
  <include file="$(find tuw_multi_robot_demo)/launch/graph_generator.launch">
    <arg name="cfg" value="$(arg room)" />
  </include>
  </group>
</group>

<!-- multi robot planner -->
<group if="$(arg launch_multi_robot_route_planner)">
  <include file="$(find tuw_multi_robot_demo)/launch/multi_robot_route_planner.launch">
    <arg name="cfg" value="$(arg cfg)" />
  </include>
</group>

</launch>
